html {
  font-family:  Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 20px;
}

body {
  /*font: 20px helvetica, sans-serif;*/
  text-align: center;
}

.chart-container {
  margin: auto;
  width: 1100px;
  height: 700px;
}

svg {
  font-size: 0.9375rem;
  fill: #737c81;
}

.container {
  margin-left: 1rem;
}

.big-number-cont {
  width: 500px;
  height: 5rem;
  position: block;
}

.big-number {
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
}

.big-number .desc {
  font-size: 1rem;
}

.a {
  color: #377eb8;
  float: left;
}
.b {
  color: #984ea3;
  /*float: right;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.pv-area, .ac-area {
  fill: grey; 
  /*fill: white; */
  opacity: 0.1;
}

.ac-line, .pv-line {
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
}

.pv-line, .focus.pv circle {
  stroke: #984ea3; /*blue*/
}

.focus.pv text {
  fill: #984ea3;
}

.ac-line, .focus.ac circle {
  stroke: #377eb8; /*red*/
}

.focus.ac text {
  fill: #377eb8;
}

.y-tick-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #f0f5f7;
  stroke-width: 1;
}

.y.axis path, .y.axis line {
  display: none;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke: #737c81;
}

svg {
  cursor: normal;
}

.milestone-start, .milestone-line {
  stroke-width: 1;
  stroke: black;
  stroke-dasharray: 1 1;
}

.date-selector-container {
  float: right;
  padding-top: 1rem;
  font-size: 18px;
  font-family:  Helvetica, Arial, "Lucida Grande", sans-serif; 

}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: white;
}

.focus.tline {
  stroke:  #737c81;
}

.focus rect {
  rx: 3;
  ry: 3;
  opacity: 0.9;
}