body {
    margin:50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.company_rect {
  stroke: #ffffff;
}

.company_div {  display: table;}

.country_div {
  position: fixed;
  z-index: 0;
}

.country_text {
  width: 100%;
  height: 100%;
}

.country_text {
  font-size:40px;
  color:black;
  position: fixed;
  z-index: 1;
}

.company_text {
  display: table-cell;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.country_cell .country_rect {
  opacity: 0;
}


.legend_text {
  color: black;
  font-size: 30px;
}

footer {margin-top: 50px;}